.section.main {
  overflow: hidden;
  border-top: #FFF solid 1px;
  padding: 3em 1.5em;
}

.ajs-message.ajs-custom { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/

.footer-links{
  margin-left: 10px;
  color:black;
  transition: color 0.3s;
  text-decoration: none;
}
.footer-links:hover{
  color: red;
  text-decoration: none;
}

.collapse{
  text-align: center;
}
#menu {
  transition: height 1.5s ease;
}

.navlinks:hover {
  color: red;
  transition: color 0.3s;
  text-decoration: none;
  
}

.header-center h3 {
  text-shadow: 0px 1px 1px #ffffff;
  text-align: center;
}
.navlinks {
  color: #fff;
  text-decoration: none;
}

.face {
  width: 100%;
  position: relative;

}
.face .face-img {
  width: 100%;
  height: auto;
}
.face a {
  color: #666666;
  text-decoration: none;
}
.face .coder,
.face .designer {
  position: absolute;
  width: 40%;
  display: block;
  z-index: 10;
  height: 15%;
  margin: auto;
  top: 0;
  bottom: 0;
}
.face .coder h1,
.face .designer h1 {
  font-size: 28px;
  font-size: 2.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.face .designer {
  left: 0;
}
.face .coder {
  right: 0;
  text-align: right;
}
.face .designer-img,
.face .coder-img,
.face .designer-bg,
.face .coder-bg,
.face .coder p,
.face .designer p {
  display: none;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color :#fff;
  padding: 0.25rem;
  display: block;
  position: absolute;
  left: 50%;
}
.sign{
  display: inline-block;
  display: block;
  position: absolute;
  left: 50%;
  
}




.header-color{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .landing-grid{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    
  }
  .landing-main{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100%;
    height: 100%;
    margin:auto;
  
  }
  .drawer-color{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .avatar-img{
    height: 230px;
    border-radius: 50%;
  }
  .banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    height: auto;
    margin:auto;
    border-radius: 10px;
    text-align: center;
  }
  
  .banner-text h1{
    font-size: 60px;
    font-weight: bold;
    color:white;
    text-align: center;
  }
  .banner-text hr{
   border-top: 5px dotted white;
   width: 50%;
   margin :auto;
  }
  .banner-text p{
    color: white;
    font-size: 20px;
    padding:1em;
    text-align: center;
  }
  .social-links{
    color:white;
    width: 50%;
    display: inline-flex;
    text-align: center;
  }

  
  .banner-text img{
    color:white;
    font-size: 5em;;
    margin-right: 5rem;
    padding:16px;
    
  }
  
  .contact-body{
    position: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
  }
  .contact-grid{
  
    text-align: center;
    justify-content: center;
    width: 80%;
    height:100%;
    background-color:white;
    color:black;
    margin-top: 100px;
  }
  .contact-grid h2{
    font-family:'Anton',sans-serif;
  }
  .contact-grid p{
    font-family: 'Oxygen',sans-serif;
    font-weight: bold;
  }
  .contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }
  .contact-list{
    font-size: 25px;
    padding-right: 5rem;
    text-align: center;
    justify-content: center;
  }
  .list-itemcontent{
    font-size: 25px;
    font-family: 'Anton',sans-serif;
  }
 
 

  @fontface {
    font-family: 'Titillium';
    src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap')
  }
  
  