.section.main {
  overflow: hidden;
  border-top: #FFF solid 1px;
  padding: 3em 1.5em;
}


.ajs-message.ajs-custom { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

@media only screen and (min-width:1100px) {
        
  .navlinks {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
  
}




.navlinks {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
 
  
}
.brand{
  color: #fff;
  text-decoration: none;
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/


#mail:hover{
  cursor: pointer;
}

.footer{
  background-color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-links{
  margin-left: 10px;
  color:#fff;
  transition: color 0.3s;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.footer-links:hover{
  color: red;
  text-decoration: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.collapse{
 text-align: center;
}
#menu {
  transition: height 1.5s ease;
}

.navlinks:hover {
  color: red;
  transition: color 0.3s;
  text-decoration: none;
  
}

.brand:hover{
  color: red;
  transition: color 0.3s;
  text-decoration: none;
}

.header-center h3 {
  text-shadow: 0px 1px 1px #ffffff;
  text-align: center;
  
}
.dasboard-box{
  border-bottom: 1px ;
  box-shadow: 0 4px 2px -1px #E5E5E5;
  
}


.face {
  width:100%;
  height: auto;
 
}
.face .face-img {
 
  width: 50%;
  height: auto;
}
.face a {
  color: #666666;
  text-decoration: none;
}
.face .coder,
.face .designer {
  position: absolute;
  width: 40%;
  display: block;
  z-index: 10;
  height: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
}

.face .designer {
  left: 0;
}
.face .coder {
  right: 0;
  text-align: right;
}
.face .designer-img,
.face .coder-img,
.face .designer-bg,
.face .coder-bg,
.face .coder p,
.face .designer p {
  display: none;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
   
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color :#fff;
  padding: 0.25rem;
  display: block;
  position: absolute;
  left: 50%;
}
.sign{
  display: inline-block;
  display: block;
  position: absolute;
  left: 50%;
  
}




.header-color{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .landing-grid{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    
  }
  .landing-main{
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width: 100%;
    height: 100%;
    margin:auto;
  
  }
  .drawer-color{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .avatar-img{
    height: 230px;
    border-radius: 50%;
  }
  .banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    height: auto;
    margin:auto;
    border-radius: 10px;
    text-align: center;
  }
  
  .banner-text h1{
    font-size: 60px;
    font-weight: bold;
    color:white;
    text-align: center;
  }
  .banner-text hr{
   border-top: 5px dotted white;
   width: 50%;
   margin :auto;
  }
  .banner-text p{
    color: white;
    font-size: 20px;
    padding:1em;
    text-align: center;
  }
  .social-links{
    color:white;
    width: 50%;
    display: inline-flex;
    text-align: center;
  }

  
  .banner-text img{
    color:white;
    font-size: 5em;;
    margin-right: 5rem;
    padding:16px;
    
  }
  
  .contact-body{
    position: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
  }
  .contact-grid{
  
    text-align: center;
    justify-content: center;
    width: 80%;
    height:100%;
    background-color:white;
    color:black;
    margin-top: 100px;
  }
  .contact-grid h2{
    font-family:'Anton',sans-serif;
  }
  .contact-grid p{
    font-family: 'Oxygen',sans-serif;
    font-weight: bold;
  }
  .contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }
  .contact-list{
    font-size: 25px;
    padding-right: 5rem;
    text-align: center;
    justify-content: center;
  }
  .list-itemcontent{
    font-size: 25px;
    font-family: 'Anton',sans-serif;
  }
 
 

 
  .resume{

    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  
    width: auto;
   
  }
 
  
  body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background:url("./bg6.png") no-repeat center center fixed; */
    position: relative;
    margin: 0;
    
  }
  
  .conatiner {
    width: 100%;
    height: 500px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .box {
    margin: 10px;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  .box:hover {
    margin-bottom: -10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
            box-shadow: 0 0 5px rgba(0,0,0,0.7);
  }
  .box h1 {
    color: #fff;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.7);
            box-shadow: 0 0 30px rgba(0,0,0,0.8);
  }
  
  .date h4 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
  }
  .poster {
    width: 130px;
    height:130px;
    margin: 120px auto;
    position: relative;
    border-radius: 100px;
  }
  .poster h4 {
    top: 16px;
    color: #fff;
    position: relative;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
  }
  .one {
    background: url('https://www.ecyber.co.ke/images/ecyber/web-design-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .two {
    background: url('https://1stwebdesigner.com/wp-content/uploads/2017/11/graphical-background-design-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .three {
    background: url('https://cumatekintopuz.com.tr/media/images/react.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  /* POSTER*/
  .p1 {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
    background: -webkit-linear-gradient(left, #4e4376, #2b5876);
    background: -o-linear-gradient(left, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 0 20px darkblue;
            box-shadow: 0 0 20px darkblue;
  }
  
  .p2 {
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#ff5858), to(#f857a6));
    background: -webkit-linear-gradient(left, #ff5858, #f857a6);
    background: -o-linear-gradient(left, #ff5858, #f857a6);
    background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 0 20px #fa3380;
            box-shadow: 0 0 20px #fa3380;
  }


  
  .p3 {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#8E54E9), to(#4776E6));
    background: -webkit-linear-gradient(left, #8E54E9, #4776E6);
    background: -o-linear-gradient(left, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 0 20px lightblue;
            box-shadow: 0 0 20px lightblue;
  }
  
  
  
  /*  FOLLOW*/
  .Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
    width: 50px;
    height: 50px;
    bottom: 9px;
    right: 20px;
    display:block;
    position:fixed;
    border-radius:50%;
    z-index:999;
    animation:  rotation 10s infinite linear;
    }
  
  @-webkit-keyframes rotation {
      from {
          -webkit-transform: rotate(0deg);
      }
      to {
          -webkit-transform: rotate(359deg);
      }
  }

  .about-exp{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }


  .project-tabs{
    text-align:center;
    font-size:24px;
  }

  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .resume{

    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 2000px;
    width: auto;
  
   
  }

  .coder-desc{
    font-size: 2.9rem;
    color:#000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:100;
    text-align: center;
    margin-top: 5rem;
  }

  .dasboard-img{
    height: 30rem;
    width: auto;
  }
 

   
    
    @media only screen and (min-width:761px) and (max-width:995px) {
        
      .face .coder h1,
      .face .designer h1 {
        font-size: 18px;
        color:#000;
        font-size: 2.2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }

      .resume{

        font-family: 'Roboto', sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        height: 1600px;
        width: auto;
      
       
      }
      .brand{
        color: #fff;
        text-decoration: none;
        
      }

      
}
   
    
    @media only screen and (min-width:735px) and (max-width:761px) {
      .face .coder h1,
      .face .designer h1 {
        font-size: 18px;
        color:#000;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
      }

      .resume{

        font-family: 'Roboto', sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        height: 1400px;
        width: auto;
      
       
      }
      .brand{
        color: #fff;
        text-decoration: none;
      
      }

}
@media only screen and (min-width:635px) and (max-width:735px) {
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: 1.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  
  .resume{

    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 1200px;
    width: auto;
  
   
  }

  .brand{
    color: #fff;
    text-decoration: none;
 
  }

}

@media only screen and (min-width:501px) and (max-width:635px) {
        
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .resume{

    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 1000px;
    width: auto;
  
   
  }

  .brand{
    color: #fff;
    text-decoration: none;
    
  }

  .dasboard-img{
    height: 25rem;
    width: auto;
    
  }

}

@media only screen and (min-width:440px) and (max-width:501px) {
        
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: 1.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .brand{
    color: #fff;
    text-decoration: none;
    display: none;
  }

  .dasboard-img{
    height: 20rem;
    width: auto;
    
  }

}



@media only screen and (min-width:360px) and (max-width:440px) {
        
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .brand{
    color: #fff;
    text-decoration: none;
    display: none;
  }

  .dasboard-img{
    height: 20rem;
    width: auto;
    
  }
}
@media only screen and (min-width:300px) and (max-width:360px) {
        
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: .8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .brand{
    color: #fff;
    text-decoration: none;
    display: none;
  }

  .dasboard-img{
    height: 15rem;
    width: auto;
    
  }

  
}

@media only screen and (min-width:0px) and (max-width:300px) {
        
  .face .coder h1,
  .face .designer h1 {
    font-size: 18px;
    color:#000;
    font-size: .6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .brand{
    color: #fff;
    text-decoration: none;
    display: none;
  }
}

.form{
 

	padding: 5em 5em;

	
	
	border-radius: 50px;
  border: 3px solid #000;
 
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
};

    
    
    
 
 
  
  

  